.navbar {
    padding: 1rem 1rem;
    background-color: #0042c6;
}

.navbar-item {
    color: #fff;
}

.navbar-burger {
    color: #fff;
}

.navbar-burger:hover {
    color: #fff;
    background-color: #0042c6;
}

.navbar-menu {
    background-color: #0042c6;
}

.navbar-button:hover {
    cursor: pointer;
}
